---
import Code from "./Code.astro"
---

<p class="text-base text-slate-400">
  <!-- <Code>mailto:</Code> -->
  I'm always open to discussing research collaborations, job opportunities, or
  just connecting with like-minded individuals. Feel free to reach out!
</p>
<a
  href="mailto:giuliacantini3@gmail.com"
  class="inline-flex items-center space-x-1.5 rounded-full bg-slate-800 px-6 py-3 text-base font-medium text-white shadow-sm outline-none focus-visible:ring-2 focus-visible:ring-slate-500 focus-visible:ring-offset-2"
>
  Let's talk
</a>
<div class="my-4"></div>
<p class="mt-2 text-sm text-slate-500">
  This website was built with the <a href="https://github.com/armandsalle/my-site" class="underline">armand-salle</a> Astro theme.
</p>
