---
import { Image } from "astro:assets"
import ProjectArticle from "./ProjectArticle.astro"
import SectionTitle from "./SectionTitle.astro"
---

<div class="bg-zinc-100 p-6 md:rounded-2xl">
  <SectionTitle>Selected Publications</SectionTitle>
  <p class="leading-7 text-slate-500">
    Discover my research publications and projects.
  </p>

  <div class="mt-4 grid grid-cols-1 gap-3 sm:grid-cols-2">
    <ProjectArticle
      title="Roquin iCLIP"
      description="iCLIP data analysis of Roquin-1 RNA-binding protein in T and B lymphocytes."
      language="Python"
      link="https://github.com/marsico-lab/roquin-iclip"
      linkText="View on GitHub"

    >
      <div class="shrink-0 rounded-lg bg-black p-2 text-white">
        <pre><span class="text-pink-400">~</span> <span class="text-green-400">snakemake</span> roquin-iclip
  /\
 /  \
/____\</pre>
      </div>
    </ProjectArticle>

    <ProjectArticle
      title="miRXplain"
      description="A Transformers-based model to predict miRNA-mRNA interactions."
      language="Python"
      link="https://github.com/marsico-lab/mirxplain"
      linkText="View on GitHub"
    >
      <div
        class="flex h-28 shrink-0 items-center justify-center rounded-lg bg-[#f7f7f7] p-2"
      >
        <div
          class="inline-flex items-center gap-2 rounded bg-[#f87060] px-4 py-2 text-base font-medium text-white"
        >
          Train your model<i data-lucide="home" class="size-4 text-white"
          ></i>
        </div>
      </div>
    </ProjectArticle>

  </div>
</div>
